{
  //presets is a group of plugins
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-env"
  ],
  //Class properties plugin
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
